* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section10 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(64, 64, 231);
  color: white;
  padding: 1rem;
  display: grid;
  column-gap: 1.5rem;
  grid-template-columns: 25% 25% 15% 35%;

}

.address a {
  color: white;
  text-decoration: none;
}

.address a:hover {
  text-decoration: underline;
}

.pages {
  list-style-type: none;
}
.pages a{
  color: white;
  text-decoration: none;

}

.pages a:hover {
  text-decoration: underline;

}

#copyright{
  grid-column: 1/span 4;
  text-align: center;
  background-color: yellow;
  color: black;
  padding: 1rem;
}

.foot-inp {
  padding: 0.4rem 0.8rem;
  margin: 0.2rem 0;
  border-radius: 0.7rem;
  font-size: 1rem;
  border: none;

}
.foot-inp[type='submit'] {
  background-color: yellow;
  display: block;
  padding: 0.4rem 2rem;
  align-items: center;
}