* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin-left: 10%;
  margin-right: 10%;
}

h3 {
  padding: 20px 0 20px 0;
}

.header {
  position: sticky;
  top: 0px;
}

/* ---- section 1 ---- */

.section1 {
  background-color: #3f7bb5;
  height: 8vw;
}

.header-logo {
}

.navbar {
  position: sticky;
  list-style: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  font-weight: 600;
  /* margin-top: 2vw; */
}

.nav-li {
  /* font-size: 23px; */
  font-size: 1.1vw;
}

/* ---- section 2 ---- */

.section2-img {
  width: 100;
  align-items: right;
}

.section2-heading {
  color: white;
  /* font-size: 40px; */
  font-size: 2.5vw;
  margin-top: -20vw;
  margin-left: 12vw;
}

.section2-claim {
  color: white;
  /* font-size: 20px; */
  font-size: 1vw;
  margin-left: 12vw;
  margin-top: 5vw;
}

.section2-btn {
  margin-top: 4vw;
  margin-left: 15vw;
  background-color: #3f7bb5;
  color: white;
  border-radius: 20px;
  border-style: none;
  width: 16vw;
  height: 2vw;
  font-size: 0.9vw;
  font-weight: 500;
}

/* ---- section 3 ---- */

.section3 {
  background-color: #f5f5f5;
}
.section3-img {
  width: 40%;
  margin-top: 7vw;
  margin-left: 6vw;
}

.section3 h2 {
  color: #3f7bb5;
  font-size: 30px;
  font-size: 2vw;
  text-align: right;
  margin-top: -33svw;
  margin-right: 20vw;
}

.section3 p {
  color: #002953;
  font-size: 15px;

  padding: 2vw 10vw 2vw 50vw;
}

.section4 {
  color: #427ab4;
  padding: 2%;

  height: auto;
  background-color: #f5efe4;
  text-align: center;
  background-image: url(./pics/dark_blue_paws.png);
  background-size: cover;
}

.img-section4 {
  display: flex;
  flex-direction: column;
  background-color: #ffae12;
  color: white;
  font-size: 15px;
  padding: 3px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 150px;
  height: 300px;
  filter: drop-shadow(0px 1px 5px black);
}

.section4-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.section5 {
  display: flex;
  max-width: 1920px;
  max-height: 600px;
  width: auto;
  height: auto;
  background-color: #f5f5f5;
}

.section6 {
  display: flex;
  width: auto;
  height: auto;
  background-color: #ffae12;
}

.section7 {
  display: flex;
  max-width: 1920px;
  max-height: 600px;
  width: auto;
  height: auto;
  background-color: #f5efe4;
}
.section10 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(64, 64, 231);
  color: white;
  padding: 1rem;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 2fr;

}

.address a {
  color: white;
  text-decoration: none;
}

.address a:hover {
  text-decoration: underline;
}

.pages {
  list-style-type: none;
}
.pages a {
  color: white;
  text-decoration: none;
}

.pages a:hover {
  text-decoration: underline;
}

#copyright{
  grid-column: 1/5;
  text-align: center;
  background-color: yellow;
  color: black;
  padding: 1rem;
}
.footer-sections {
  padding: 0.2rem;
}

#foot-inp{
  text-align: center;
  padding: 0.4rem 0;
  border-radius: 1rem;
  border: none;
}

.form-foot{
  border: 1px solid black;
}
