* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section10 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(64, 64, 231);
  color: white;
  padding: 1rem;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 2fr;

}

.address a {
  color: white;
  text-decoration: none;
}

.address a:hover {
  text-decoration: underline;
}

.pages {
  list-style-type: none;
}
.pages a{
  color: white;
  text-decoration: none;

}

.pages a:hover {
  text-decoration: underline;

}

#copyright{
  grid-column: 1/span 4;
  text-align: center;
  background-color: yellow;
  color: black;
  padding: 1rem;
}